<div class="contenant">
  <div id="wrapper">
      <app-sidebar></app-sidebar>
      <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">

              <app-navbar></app-navbar>

              <div id="container-fluid">
                 <div class="container">
                  <div class="row" >

                  </div>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                      <h2 class="text-center mb-4">Contrôle interface réseaux  </h2>

                      <form class="user" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                              <div class="form-group">
                                <select formControlName="interface" class="form-control" id="">
                                  <option *ngFor="let item of data" value={{item.interfaces}} >{{item.interfaces}} </option>
                                </select>
                            </div>
                          <div class="col-sm-6">
                              <input type="submit" value="envoyer" class="form-control btn btn-primary">
                          </div>
                          <hr>
                      </form>

                    </div>

                 </div>



              </div>
          </div>
      </div>
  </div>
</div>
