<div class="contenant">
  <div id="wrapper">
      <app-sidebar></app-sidebar>
      <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">

              <app-navbar></app-navbar>

              <div id="container-fluid">
                 <div class="container">
                  <div class="row" >

                  </div>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                      <h2 class="text-center mb-4">Contrôle de mot de passe </h2>

                      <form class="user" [formGroup]="RegisterFrom" (ngSubmit)="onSubmit()">

                              <div class="form-group">
                                <input type="password" class="form-control form-control-user" formControlName="password" id="exampleInputEmail"
                                    placeholder="votre mot de passe ">
                            </div>
                          <div class="col-sm-6">
                              <input type="submit" value="envoyer" class="form-control btn btn-primary">
                          </div>
                          <hr>
                      </form>
                    </div>

                 </div>



              </div>
          </div>
      </div>
  </div>
</div>
